<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style4.css') }}" />
</head>
<body class="body">
    <div class="head">
        <h1>ACKNOWLEDGEMENT</h1>
    </div>
    <div>
        <section>
            We would like to take this opportunity to express our deepest gratitude to our mentor, Mrs. Sachi Mall for guiding, supporting, and helping us in every possible way. We were extremely fortunate to have her as our mentor as she provided insightful solutions to problems faced by us thus contributing immensely towards the completion of this capstone project. We would also like to express our deepest gratitude to VC, DEAN, HOD, faculty members and friends who helped us in the successful completion of this capstone project.
        </section></div>
</body>
</html>