<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in & Sign up Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}" />
    <script src="https://www.gstatic.com/firebasejs/9.8.4/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.8.4/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.8.4/firebase-auth-compat.js"></script>
  </head>
  <body background="/static/images/main.jpg" height=100px width=100px>
    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <form action="index.html" autocomplete="off" class="sign-in-form">
              <div class="logo">
                <img src="/static/images/logo.png" alt="easyclass" />
                <h4>Posimpible</h4>
              </div>

              <div class="heading">
                <h2>Welcome Back</h2>
                <h6>Not registred yet?</h6>
                <a href="#" class="toggle">Sign up</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                    id="signInName"
                  />
                  <label>Name</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                    id="signInPassword"
                  />
                  <label>Password</label>
                </div>

                <!-- <input type="submit" value="Sign In" class="sign-btn" /> -->
                <input onclick="signIn()" value="Sign In" class="sign-btn" />

                <p class="text">
                  Forgotten your password or your login details?
                  <a href="#">Get help</a> signing in
                </p>
              </div>
            </form>

            <form action="index.html" autocomplete="off" class="sign-up-form">
              <div class="logo">
                <img src="/static/images/logo.png" alt="easyclass" />
                <h4>Possimpible</h4>
              </div>

              <div class="heading">
                <h2>Get Started</h2>
                <h6>Already have an account?</h6>
                <a href="#" class="toggle">Sign in</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                    id="signupName"
                  />
                  <label>Name</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="email"
                    class="input-field"
                    autocomplete="off"
                    required
                    id="signupEmail"
                  />
                  <label>Email</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                    id="signupPassword"
                  />
                  <label>Password</label>
                </div>

                <!-- <input type="submit" value="Sign Up" class="sign-btn" /> -->
                <input onclick="signUp()" value="Sign Up" class="sign-btn" />

                <p class="text">
                  By signing up, I agree to the
                  <a href="#">Terms of Services</a> and
                  <a href="#">Privacy Policy</a>
                </p>
              </div>
            </form>
          </div>

          <div class="carousel">
            <div class="images-wrapper">
              <img src="/static/images/image1.png" class="image img-1 show" alt="" />
              <img src="/static/images/image2.png" class="image img-2" alt="" />
              <img src="/static/images/image3.png" class="image img-3" alt="" />
            </div>

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2>Create your own Plan</h2>
                  <h2>Customize as you like</h2>
                  <h2>Invite People to join us</h2>
                </div>
              </div>

              <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Javascript file -->

    <script src="{{ url_for('static', filename='script/app.js') }}"></script>
    <script src="{{ url_for('static', filename='script/main.js') }}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.14.1-0/firebase.js"></script> -->

  </body>
  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-analytics.js";
    import { getAuth, createUserWithEmailAndPassword, signInWithEmailAndPassword, signOut } from "https://www.gstatic.com/firebasejs/9.19.1/firebase-auth.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyAeOhmREceHofpS0AAUBjdve1OyJ-SfHUo",
      authDomain: "out-of-form.firebaseapp.com",
      databaseURL: "https://out-of-form-default-rtdb.firebaseio.com",
      projectId: "out-of-form",
      storageBucket: "out-of-form.appspot.com",
      messagingSenderId: "472855709137",
      appId: "1:472855709137:web:afbc831a4993ef9abfccf0",
      measurementId: "G-299PNMXTZT"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const auth=getAuth(app);
    // console.log(app)

    //----- New Registration code star
      //For new registration
      const signUp = () => {
        var password = document.getElementById("password").value;
        var email =  document.getElementById("email").value;
		  createUserWithEmailAndPassword(auth, email, password)
		  .then((userCredential) => {
		    // Signed in 
		    const user = userCredential.user;
		    console.log(user);
		    alert("Registration successfully!!");
		    // ...
		  })
      
		  .catch((error) => {
		    const errorCode = error.code;
		    const errorMessage = error.message;
		    // ..
		    console.log(errorMessage);
		    alert(error);
		  });	
    }	  		  
	  
	  //----- End

	  //----- Login code start	  
	  // document.getElementById("login").addEventListener("click", function() {
		//   var email =  document.getElementById("login_email").value;
		//   var password = document.getElementById("login_password").value;

		//   signInWithEmailAndPassword(auth, email, password)
		//   .then((userCredential) => {
		//     // Signed in 
		//     const user = userCredential.user;
		//     console.log(user);
		//     alert(user.email+" Login successfully!!!");
		//     document.getElementById('logout').style.display = 'block';
		//     // ...
		//   })
		//   .catch((error) => {
		//     const errorCode = error.code;
		//     const errorMessage = error.message;
		//     console.log(errorMessage);
		//     alert(errorMessage);
		//   });		  		  
	  // });
	  //----- End

	  //----- Logout code start	  
	  // document.getElementById("logout").addEventListener("click", function() {
		//   signOut(auth).then(() => {
		// 	  // Sign-out successful.
		// 	  console.log('Sign-out successful.');
		// 	  alert('Sign-out successful.');
		// 	  document.getElementById('logout').style.display = 'none';
		// 	}).catch((error) => {
		// 	  // An error happened.
		// 	  console.log('An error happened.');
		// 	});		  		  
	  // });
	  //----- End
      
    </script>
</html>